@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html {
    font-size:	 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: 211E08;
}

.header {
    height: 100vh;
    background: #FFEB3B;
    display: flex;

    h3 {
        font-size: 2.2rem;
        text-align: center;
        justify-content: center;
        flex: 1;
        font-family: 'Hind Siliguri', sans-serif;
        padding-top: 50vh;
        font-weight: bold;
    }
}

.main {
    margin: 0 auto;
    max-width: 1040px;
}

.column {
    flex: 1;
    flex-direction: column;
}
// @media screen and (min-width: 800px) {
//   .columns,
//   .column {
//     display: flex;
//   }
// }
