@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

$tablet-width: 660px;
$desktop-width: 1024px;

@mixin tablet {
	 @media (min-width: #{$tablet-width}){
		@content;
	}
}
@mixin tablet-only {
	 @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
		@content;
	}
}
@mixin desktop {
	 @media (min-width: #{$desktop-width}){
		@content;
	}
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-family: 'Hind Siliguri', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	min-width: 300px;
	font-size: 20px;
	background: seashell;
	@include tablet {
		font-size: 18px;
		background: paleGreen;
	}
	@include desktop {
		font-size: 17px;
		background: paleTurquoise;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 0.8em;
}

p {
	font-size: 1em;
}
