@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-family: 'Hind Siliguri', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  min-width: 300px;
  font-size: 20px;
  background: seashell; }
  @media (min-width: 500px) {
    html {
      font-size: 18px;
      background: paleGreen; } }
  @media (min-width: 1024px) {
    html {
      font-size: 17px;
      background: paleTurquoise; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 0.8em; }

p {
  font-size: 1em; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px; }

img {
  max-width: 100%; }

.header {
  height: 100vh;
  background: #FFEB3B;
  display: flex;
  align-items: center; }
  .header .wrapper {
    text-align: center;
    font-size: 0.8rem; }
  .header .logo {
    width: 20em; }

section.section {
  clear: both; }

.portfolio .project {
  padding: 1em 1.25em;
  border: 1px solid red;
  margin-bottom: 2em; }
  @media (min-width: 500px) {
    .portfolio .project {
      width: 44%;
      margin-right: 5%;
      float: left; } }
